
.container{
    width: 1180px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.app_title {
    text-decoration:none;
    font-weight: bold;
    color: inherit;
    font-size: 150%;
}

.header_right {
    float: right;
    display: flex;
}

.posting_btn {
    border: 1px solid #4E97D1;
    cursor: pointer;
    padding: 5px;
    background-color: #4E97D1;
    color: white;
}

.searching_btn {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
}

.search{
    display: inline;
    align-items: center;
}
.search input[type=text]{
    border-radius: 25px;
    display: inline;
}

.signin_btn{
    border: 1px solid #4E97D1;
    cursor: pointer;
    padding: 5px;
    background-color: #4E97D1;
    color: white;
}

header{
    padding: 10px;
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 15px;
}

.boards{
    padding: 10px 30px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    background-color: #64b7f6;
    cursor: pointer;
}

.move_page{
    float: right;
}

.board{
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    margin: 10px;
    height: 150px;
}

.board_conatiner{
    display: flex;
}

.board_title{
    border-bottom: 1px solid black;
    height: 30px;
    font-weight: bold;
    item-align: center;
}

.post{
    margin: 5px 10px;
    border: 1px solid black;
    height: 110px;
}

.boardlist-item{
    padding: 10px 30px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    cursor: pointer;
}

#boardlist-additem{
    text-align: center;
    background-color: #64b7f6;
}

.grey-item{
    font-weight: bold;
    background-color: #d9dddc;
}

.line50{
    height: 50px;
}

.center-div{
}

.center-item{
    display: inline-block;
}

.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image{

    height: 50px;
    width: auto;
    display: inline-block;
    margin: 10px auto;
}