<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Title</title>
</head>
<body>
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <div class="container">

        <div>
            <h2 class="login-box">로그인</h2>
            <div class="login-box">소셜 로그인으로 서비스를 이용하실 수 있습니다.</div>

            <div class="login-box">
                <a  class="login-box" href="/oauth2/authorization/google">
                    <img class="login-image" src="../images/btn_google_signin_light_normal_web.png">
                </a>

            </div>

            <div class="login-box">
                <a  class="login-box" href="/oauth2/authorization/naver">
                    <img class="login-image" src="../images/btnW_완성형.png">
                </a>
            </div>
        </div>




    </div>

</body>
</html>